.Switcher{
    background: #636267;
    border-radius: 14.72px;
    border-radius: 14.88px;
    cursor: pointer;
    height: 31px;
    position: relative;
    transition: .32s;
    width: 50px;
}
.Switcher.active{
    background: rgb(45, 200, 83); 
}
.circle {
    background: #fff;
    border-radius: 50%;
    bottom: 2.5px;
    height: 26px;
    left: 2.5px;
    position: absolute;
    transition: .3s;
    width: 26px;
}


.circle.active{
    left: unset;
    left: calc(100% - 28.5px);


}
