.Switcher{
    width: 50.35px;
    height: 30.6px;
    border-radius: calc(46px* 0.32);
    border-radius: calc(46.5px* 0.32);
    background: rgb(99, 98, 103);
    position: relative;
    transition: 0.32s;
    cursor: pointer;
}
.Switcher.active{
    background: rgb(45, 200, 83); 
}
.circle {
    
    position: absolute;
    transition: 0.3s;
    width: 26.65px;
    height: 26.65px;
    border-radius: 50%;
    background: white;
    left: 2px;
    bottom: 2px;

}
.circle.active{
    left: unset;
    left: calc(100% - 29px);

}

